body{
  font-family: 'Exo', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  /* overflow: hidden; */
}

.game{
  position: relative;
}

.game-nav{
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 3%;
}

.game-nav div{
  margin-right: 20px;
}

/* #volume-btn-GV{
  position: absolute;
  top: 0%;
  right: 0%;
} */

.song-choice-1{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
.song-choice-2{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
.song-choice-3{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
.song-choice-4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
.song-choice-5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
.song-choice-6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
.song-choice-7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
.song-choice-8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
.song-choice-9{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
.song-choice-10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}

.hidden{
  display: none;
}