body{
  font-family: 'Exo', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  /* cursor: url("../images/icons8-round (1).svg") 25 25, auto; */
}

.game{
  position: relative;
}

#score, #combo{
  position: absolute;
  color: white;
  bottom: 4%;
  right: 4%;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

#combo{
  right: 25%;
}

.health{
  position: absolute;
  top: 6%;
  left: -1%;
  width: 40%;
  height: 25px;
  background-color: white;
  border-radius: 15px;
}

.health-bar{
  position: relative;
  top: 15%;
  background-color: rgb(172, 128, 136);
  width: 99%;
  height: 70%;
  border-radius: 15px;
}

.my-health{
  position: relative;
  top: -54%;
  background-color: pink;
  width: 50%;
  height: 70%;
  border-radius: 15px;
}

.final-score-board{
  position: absolute;
  width: 50vw;
  height: 70vh;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: black;
  z-index: 5;
  top: 10%;
  left: 25%;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.final-score-board p{
  margin: 7px 0 ;
}

.final-score{
  display: flex;
  padding-bottom: 15px;
}

.score-board-line{
  width: 80%;
  border: white 1px solid;
  margin-left: 10%;
}

.final-score-det{
  display: flex;
  flex-direction: column;
}

#final-score-rank{
    font-size: 100px;
    width: 50%;
    text-align: center;
}

.hit-beats-grades{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#replay-btn{
  position: absolute;
  bottom: -5%;
  left: -5%;
}

#score-done-btn{
  position: absolute;
  bottom: -5%;
  right: -5%;
}

.game-nav{
  display: flex;
  position: absolute;
  bottom: 6%;
  left: 3%;
}

.game-nav div{
  margin-right: 20px;
}

.game-nav .mute{
  position: absolute;
  bottom: 0%;
  left: 60%;
}

#volume-btn-GV{
  position: absolute;
}

#volume-GV{
  position: relative;
  left: 120%;
}

.song-choice-1{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
.song-choice-2{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
.song-choice-3{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
.song-choice-4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
.song-choice-5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
.song-choice-6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
.song-choice-7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
.song-choice-8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
.song-choice-9{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
.song-choice-10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}

.hidden{
  display: none;
}