body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* #game-canvas{
  background-image: url("../images/9.jpg");
  background-size: cover;
} */

.song-choice-1{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
.song-choice-2{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
.song-choice-3{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
.song-choice-4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
.song-choice-5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
.song-choice-6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
.song-choice-7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
.song-choice-8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
.song-choice-9{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
.song-choice-10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}

#start-btn{
  /* position: absolute; */
}

.hidden{
  display: none;
}
