body{
  font-family: 'Exo', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.start-menu{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 50vh;
  border: white solid 10px;
  border-radius: 50%;
  background-color: pink;
  box-shadow: 0 0px 30px 10px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.title-text{
  height: fit-content;
  font-size: 7vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  width: 100%;
}

.start-options{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 25%;
  position: absolute;
  left: 55%;
}

.start-option{
  background-color: pink;
  height: 25%;
  width: 0%;
  border: white solid 10px;
  margin-top: 7%;
  /* border-bottom-right-radius: 10%;
  border-top-right-radius: 10%; */
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-align: end;
  padding: 10px;
}

.start-option:hover{
  cursor: pointer;
}

.song-choice-1{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
.song-choice-2{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
.song-choice-3{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
.song-choice-4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
.song-choice-5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
.song-choice-6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
.song-choice-7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
.song-choice-8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
.song-choice-9{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
.song-choice-10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}

/*------------------------------------------------------------------------------ */

.songs-menu{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.song-carousel {
  width: 75vw;
  height: 60vh;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 20px -2px rgba(255, 255, 255, 0.2);
}
  
.song-carousel:hover .controls {
    opacity: 1;
}
  
.song-carousel .controls {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 9;
  transition: all ease 0.5s;
}
.song-carousel .controls .control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: .5;
  transition: ease .3s;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
      
.song-carousel .controls .control:hover {
  opacity: 1;
}
  
.song-carousel .song-options {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out all;
}
      
.song-carousel .song-options .song-option {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 20%;
}

.song-option p{
  width: fit-content;
  margin: auto;
  background-color: rgba(0,0,0,.5);
  padding: 20px 15px;
}

#start-btn{
  background: pink;
  border: white solid 8px;
  border-radius: 50%;
  height: 100px;
  width:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-btn p{
  font-size: 3vh;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}

#song1{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
#song2{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
#song3{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
#song4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
#song5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
#song6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
#song7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
#song8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
#song9{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
#song10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}
/* ----------------------------------------------------------------------------- */
.hidden{
  display: none;
}