.songs-menu{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background-image: url("../images/startmenuBG.jpg");
  background-size: cover;
}
.song-carousel {
  width: 75vw;
  height: 60vh;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 20px -2px rgba(255, 255, 255, 0.2);
  opacity: .9;
}
  
.song-carousel:hover .controls {
    opacity: 1;
}
  
.song-carousel .controls {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 9;
  transition: all ease 0.5s;
}
.song-carousel .controls .control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: .5;
  transition: ease .3s;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
      
.song-carousel .controls .control:hover {
  opacity: 1;
}
  
.song-carousel .song-options {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out all;
}
      
.song-carousel .song-options .song-option {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 20%;
}

.song-option p{
  width: fit-content;
  margin: auto;
  background-color: rgba(0,0,0,.5);
  padding: 20px 15px;
}

.song-menu-nav{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  top: -20px;
}

.button{
  background: pink;
  border: white solid 8px;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width:100px;
}

.button:hover,
.small-button:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.button p{
  font-size: 2.5vh;
  text-align: center;
}

#start-btn{
  box-shadow: 0 0px 30px 10px rgba(255, 255, 255, 0.5);
  height: 150px;
  width: 150px;
}

#start-btn p{
  font-size: 4vh;
}

.volume-container{
  display: flex;
  position: relative;
}

#volume-songs{
  position: absolute;
  left: 120%;
  top: 42%;
}

input[type=range] {
  width: 100%;
  margin: 5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ffc0cb;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -5px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffdae0;
}

#mute-songs{
  bottom: -15%;
  right: -15%;
}


#song1{
  background-image: url("../images/1.jpg");
  background-size: cover;
}
#song2{
  background-image: url("../images/2.jpg");
  background-size: cover;
}
#song3{
  background-image: url("../images/3.jpg");
  background-size: cover;
}
#song4{
  background-image: url("../images/4.jpg");
  background-size: cover;
}
#song5{
  background-image: url("../images/5.jpg");
  background-size: cover;
}
#song6{
  background-image: url("../images/6.jpg");
  background-size: cover;
}
#song7{
  background-image: url("../images/7.jpg");
  background-size: cover;
}
#song8{
  background-image: url("../images/8.jpg");
  background-size: cover;
}
#song9{
  background-image: url("../images/9.jpg");
  background-size: cover;
}
#song10{
  background-image: url("../images/10.jpg");
  background-size: cover;
}